<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <% if(trust>=0.5){ %>
      <div id="blog">
        <h1 class="display-3">Weekly Hospital Blog</h1>
        <p class="secret-text"><%= secret %></p>
      </div>
      <% if(trust>=0.7){ %>
        <button type="button" onclick="generatePDF()" class="btn btn-dark btn-lg" name="button">Download</button>
        <% if(trust>=0.8){ %>
          <a class="btn btn-dark btn-lg" href="/add" role="button">Add</a>
          <% if(trust>=0.9){ %>
            <a class="btn btn-dark btn-lg" href="/modify" role="button">Modify</a>
            <% if(trust>=0.95){ %>
              <a class="btn btn-dark btn-lg" href="/delete" role="button">Delete</a>
            <% } %>
          <% } %>
        <% } %>
      <% } %>
    <% } %>

    <hr>

  </div>
</div>

<script type="text/javascript">
  function generatePDF() {

        var element = document.getElementById('blog');
        var opt = {
            margin:       0.5,
            filename:     'hospital-blog.pdf',
            image:        { type: 'jpeg', quality: 10 },
            html2canvas:  { scale: 1 },
            jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait',precision: '12' }
          };

        html2pdf().set(opt).from(element).save();
      }
</script>

<%- include('partials/footer') %>
